* {
  box-sizing: border-box;
}

body {
  font-family: "Lucida Grande", sans-serif;
  margin:0;
}

figure.one-slide {
  display: none;
  height: 100vh;
}

img.slide-pic {
  vertical-align: middle;
  width: 80%;
  margin: 50px 10% 20px;
}

img.color {
	display: none;
}

/* Slideshow container */
div.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
a.prev-button, a.next-button {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 10px;
  margin-top: -22px;
  font-weight: bold;
  font-size: 18px;
  user-select: none;
}

/* Position the "next button" to the right */
a.next-button {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
a.prev-button:hover, a.next-button:hover {
  background-color: rgba(0,0,0,0.1);
}

/* Caption text */
figcaption.slide-caption {
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  width: 100%;
  text-align: center;
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
	a.prev-button, a.next-button, figcaption.slide-caption {
		font-size: 11px
	}
}

a.gallery-links {
	text-decoration: none;
}
